.modal {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, .85);
  transition: all .2s ease;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    padding: 1rem 1rem .75rem .75rem;
    border: 0;
    background: transparent;
  }

  &__wrapper {
    position: relative;
    width: 55%;
    min-height: 30rem;
    max-height: 90%;
    background-color: #fff;
    padding: 3rem 4rem;
    border-radius: .75rem;
    box-shadow: 0 0px 40px 10px rgba(0, 0, 0, .15);
    // overflow-y: scroll;
  }

  &--full {
    opacity: 1;
    visibility: visible;
    background: rgba(255, 255, 255, .9);

    .modal__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      box-shadow: none;
    }

    .modal__close {
      display: none;
    }
  }
}