.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 23rem;
  color: #666;
  padding: 1rem;
  opacity: 0;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0px 40px 10px rgba(0, 0, 0, .075);
  transition: all .125s ease-out;
  transform: translateX(30%);

  &__icon {
    color: #65afb7;
    margin-right: 1.25rem;

    svg {
      display: none;
    }
  }

  &__close {
    cursor: pointer;
    width: 3.33rem;
    color: #ddd;
    padding: 1rem 0;
    border: 0;
    background-color: transparent;
  }

  &--success {
    opacity: 1;
    transform: translateX(0);

    .toast__icon svg:first-child {
      display: block;
    }
  }

  &--failed {
    opacity: 1;
    transform: translateX(0);

    .toast__icon svg:last-child {
      display: block;
      fill: #f85e5e;
    }
  }
}